@{
    ViewData["Title"] = "B_LEI";
}

<header>
    <div class="navbar-categorias">
        <h2>Categoria</h2>
        <a href="#">Ficção</a>
        <a href="#">Arte e Cultura</a>
        <a href="#">Saúde e Bem-Estar</a>
        <a href="#">Negócios e Finanças</a>
        <a href="#">Desporto e Aventura</a>
        <a href="#">Romance</a>
        <a href="#">Humor e Comédia</a>
        <a href="#">Gastronomia</a>
    </div>
</header>

<div class="search-container">
    <!-- Input de pesquisa -->
    <input type="text" placeholder="Pesquisar..." name="search">
    <!-- Botão de envio -->
    <button type="submit">&#128269;</button>
</div>

<!-- Imagem adicionada abaixo da barra de pesquisa -->
<div class="image-container">
    <img src="/images/fotocapa.png" alt="Capa" style="width:100%; height:auto;">
</div>

<!-- Menu em baixo da imagem -->
<div class="menu-bar">
    <a href="#">REQUISITAR LIVROS</a>
    <div class="separator"></div>
    <a href="#">INFORMAÇÕES DA BIBLIOTECA</a>
    <div class="separator"></div>
    <a href="#">FALE COM O SUPORTE</a>
</div>