@page
@model B_LEI.Areas.Admin.AdminGerirModel
@{
}

<h2 class="text-center">Welcome Admin</h2>

<div>
	Username : @Model.AppUser?.UserName
</div>
<div>
	Email : @Model.AppUser?.Email
</div>
<div>
	Contacto : @Model.AppUser?.PhoneNumber
</div>