html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*NAVBAR CATEGORIAS*/
.navbar-categorias {
    position: fixed; /* Fixa no lado esquerdo */
    top: 58px; /* Cola ao topo */
    left: 0; /* Cola à esquerda */
    width: 200px; /* Largura da navbar */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-categorias h2 {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin: 0 20px 10px 20px;
}

.navbar-categorias a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #e5e5e5; /* Adiciona a linha divisória */
    margin-bottom: 20px;
}

.navbar-categorias a:hover {
    background-color: #e2e6ea;
    color: #0056b3; /* cor do hover */
}

.navbar-categorias hr {
    border: none;
    margin: 5px 20px;
}

/* Container da barra de pesquisa */
.search-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute; /* Posiciona a barra de pesquisa de forma absoluta */
    top: 60px; /* Ajusta a distância do topo para ficar abaixo da navbar */
    left: 50%; /* Centraliza no eixo horizontal */
    transform: translateX(-50%); /* Ajusta para garantir centralização */
    margin-top: 10px; /* Adiciona uma margem de 10px em cima da barra de pesquisa */
}

    /* Estilo do input de pesquisa */
    .search-container input[type="text"] {
        width: 300px;
        padding: 10px 40px 10px 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    /* Botão de envio */
    .search-container button {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-left: none;
        background-color: #007BFF;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

        /* Ícone do botão no hover */
        .search-container button:hover {
            background-color: #0056b3;
        }

